<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    style
      include ../static/style.css
      include ../static/sytleabout.css
</head>

<nav>

    <ul>
        <img src="/static/logo1.jpg" alt="">
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT US </a></li>
        <li><a href="/contact">CONTACT US</a></li>
        <li><a href="/">SERVICES</a></li>

    </ul>
</nav>  
<body>
<h1> About Us</h1>
<h2>Team Members</h2>
<div class="mem">
<div class="box">
    <h3>CEO</h3>
    <img src="/static/a.jpeg" alt="">
    <p>Full Stack Developer</p>    
</div>
<div class="box">
    <h3>Managing Director</h3>
    <img src="/static/b.jpeg" alt="">
    <p>Web Designer</p>
    
</div>
<div class="box">
    <h3>Chairman</h3>
    <img src="/static/c.jpeg" alt="">
    <p>Python /machine learning Expert</p>
    
</div>
<div class="box">
    <h3>Assistant manager</h3>
    <img src="/static/angilna.jpg" alt="">
    <p>Android Developer</p>
    
</div>
<div class="box">
    <h3>Dancer</h3>
    <img src="/static/about2.jpg" alt="">
    <p>Head Coach</p>
    
</div>
<div class="box">
    <h3>Secretary</h3>
    <img src="/static/malika.jpg" alt="">
    <p>Choerographer</p>
    
</div>
</div>

    
</body>
</html>