<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <title>Dance Website</title>
    style
      include ../static/style.css
</head>
<nav>

    <ul>
        <img src="/static/logo1.jpg" alt="">
        <li><a href="#section1">HOME</a></li>
        <li><a href="/about">ABOUT US </a></li>
        <li><a href="/contact">CONTACT US</a></li>
        <li><a href="#section2">SERVICES</a></li>

    </ul>
</nav>

<body>
 <section class="section1" id="section1">
   
    <div class="big" onclick="course()"> Welcome to AGPPI DANCE CLUB </div>
    <div class="small">Learm every dance move here in affordable prices  </div>
 </section>
 <section class="section2" id="section2" onclick="course()">
 <div class="sponsor">OUR COURSES</div>
 <div class="cards"> <h3>Belly Dance</h3>

    <img src="/static/belly2.gif" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam debitis adipisci amet optio aliquid voluptas, deleniti, sed, fuga rerum at vero eius veritatis. Quam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, earum.</p>
    <a href="/cd">know more</a>
 </div>
 <div class="cards"> 
    <h3>Twerk</h3>
    
    <img src="/static/twerk3.gif" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam debitis adipisci amet optio aliquid voluptas, deleniti, sed, fuga rerum at vero eius veritatis. Quam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, earum.</p>
    <a href="/cd">know more</a>
 </div>
 <div class="cards"> 
    <h3>Pole Dance</h3>
    <img src="/static/pole2.gif" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam debitis adipisci amet optio aliquid voluptas, deleniti, sed, fuga rerum at vero eius veritatis. Quam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, earum.</p>
    <a href="/cd">know more</a>
 </div>
 </section>
 <section class="section2">
    
    <div class="cards"> <h3>Gymnastic</h3>
        
        <img src="/static/gym.gif" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam debitis adipisci amet optio aliquid voluptas, deleniti, sed, fuga rerum at vero eius veritatis. Quam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, earum.</p>
        <a href="/cd">know more</a>
    </div>
    <div class="cards"> 
        <h3>Party Dance </h3>
        
        <img src="/static/party.gif" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam debitis adipisci amet optio aliquid voluptas, deleniti, sed, fuga rerum at vero eius veritatis. Quam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, earum.</p>
        <a href="/cd">know more</a>
    </div>
    <div class="cards"> 
        <h3>Yoga Classes</h3>
        <img src="/static/yoga.gif" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam debitis adipisci amet optio aliquid voluptas, deleniti, sed, fuga rerum at vero eius veritatis. Quam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, earum.</p>
        <a href="/cd">know more</a>
        
    </div>
 </section>
 <section class="section4" id="section4">
    <h2>PROFESSIONAL DANCERS IN OUR INSITITUTE </h2>
    <div class="info">
    <div class="profile">
        <h3>Marvah Soni </h3>
        <img src="/static/dancer1.jpg" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam debitis adipisci amet optio aliquid voluptas, deleniti, sed, fuga rerum at vero eius veritatis. Quam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, earum.</p>

    </div>
    <div class="profile">
        <h3>Jasmine port </h3>
        <img src="/static/dancer2.jpg" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam debitis adipisci amet optio aliquid voluptas, deleniti, sed, fuga rerum at vero eius veritatis. Quam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, earum.</p>
    </div>
    <div class="profile">
        <h3>Daisy Richardson </h3>
        <img src="/static/dancer3.jpg" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam debitis adipisci amet optio aliquid voluptas, deleniti, sed, fuga rerum at vero eius veritatis. Quam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, earum.</p>
    </div>
    <div class="profile">
        <h3>Daisy Richardson </h3>
        <img src="/static/dancer3.jpg" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam debitis adipisci amet optio aliquid voluptas, deleniti, sed, fuga rerum at vero eius veritatis. Quam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, earum.</p>
    </div>
 </div>
 </section>
 <section id="section5" class="section5">
    <div class="special">
        <h2>Special teaching by Katrina Kaif</h2>
        <img src="/static/kat.jpg" alt="">
     
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo quibusdam numquam, mollitia dolorum maiores voluptatum minima nesciunt voluptates, nam magnam eos illum molestiae asperiores ipsam aspernatur fugiat! Odit nesciunt doloribus, sit at cupiditate eveniet laborum amet unde vitae architecto inventore aliquam mollitia nisi aspernatur alias molestiae nemo id. Amet vel et optio sequi consectetur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, temporibus quisquam eligendi impedit itaque deleniti aspernatur ut dicta ab corrupti optio in explicabo est officia, iste nulla assumenda totam, illum facilis. Cupiditate sit molestias iusto perspiciatis facere velit repellendus inventore praesentium! Exercitationem, possimus culpa? Eligendi facilis sed est non dolorum esse laboriosam, deleniti architecto! Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias id ab ut voluptatibus eveniet reprehenderit laudantium? Reiciendis possimus numquam, omnis id ipsa ad excepturi aliquid doloremque obcaecati dolore debitis deserunt dolorem blanditiis explicabo perspiciatis ipsam perferendis deleniti repellendus alias tempora quis ut. Iste natus mollitia aliquam impedit perferendis deserunt ipsum facere rem delectus recusandae!</p>
        <h3>Katirina Kaif in our dance club  </h3>
        <video controls="controls autoplay">
        <source src="/static/WhatsApp Video 2022-07-13 at 10.43.00 AM.mp4" type="video/mp4" />
        </video>
    </div>
 </section>
 
 <section class="section3">
   <h2>OUR PARTNERS</h2> 
    <div class="images">
        <img src="/static/tseries.png" alt="">
        <img src="/static/tw.png" alt="">
        <img src="/static/hp.png" alt="">
        <img src="/static/love.jpg" alt="">
        <img src="/static/sony.jpg" alt="">
    </div> 

 </section>
 
    <footer>
         <h4>www.justDance.com @copyright 2022 </h4> 
    </footer>
</body>
    script('/static/index.js')
</html>