@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@700&display=swap');
h1{
    margin-left: 130px;
    margin-top: 50px;
    background-color: black;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    width: fit-content;
}

.form{
    /* align-items: center; */

    display: flex;
    flex-direction: column;
}
.form input {
    background-color: white;
    border: 5px solid white;
    border-radius: 50px;
    padding: 5px 5px ;
    margin: 5px 5px;
    width: 470px;
}
.form textarea{
    background-color: white;
    border: 5px solid white;
    border: 5px solid black;
    border-radius: 50px;
    padding: 12px 12px ;
    margin: 5px 5px;
    width: 460px;
}
.btn{
    margin-left:230px;
    border-radius: 45px;
    width: 70px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    color:black ;

}
.btn:hover{
    background-color:black;
    color: white;
}


*{
    margin: 0;
    /* box-sizing: border-box; */
}

body{
/* margin-top: 200px; */
    background:  url("/static/twerk2.jpg") no-repeat center/cover ;
    /* color: white; */
    /* margin-top :100px ; */
   
        
      
    height: 500px;
}

